<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <appSettings>
      <add key="dbUserName" value="tuc72735" />
      <add key="dbPassword" value="Auquee91" />
      <add key="dbServer" value="Dwarf.cis.temple.edu" />
      <add key="database" value="FA12_4396_arms" />
      
    </appSettings>

</configuration>
